# Skopiuj jako .env.local i ustaw lokalne wartości (gitignore!)
APP_SECRET=your_local_secret_here
DATABASE_URL="mysql://root:secret@127.0.0.1:3307/aniarozgotuje?serverVersion=8.0&charset=utf8mb4"
JWT_PASSPHRASE=your_jwt_passphrase_here
